<div>
	<label id="current-day">Dia Actual: 1</label>
	<form action="#" id="form">
		<input type="text" id="day-input" name="day-input" value="" placeholder="Día a buscar"/>
		<input type="submit" name="submit" value="Buscar condiciones" />
		<input type="button" id="next-day" value="Siguiente día" />
	</form>
	<canvas id="my-canvas" width="900" height="900"></canvas>
</div>
<script src="~/js/solar-system.js"></script>